<!-- あつまれどうぶつの森マイデザイン掲示板 -->
<div class="design">
  <!-- エラーメッセージ表示 -->
  <% if @design.errors.any? %>
    <p><%= pluralize(@design.errors.count,"error", "") %>個の入力エラーが発生しました</p>
      <ul>
      	<% @design.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
    	<% end %>
      </ul>
  <% end %>
  <section class="design-contents">
  	<!-- 投稿フォーム -->
    <div class="design-contents-form">
	  <%= form_for(@design) do |f| %>
	  <table class="design-contents-form-table">
	  	<tbody class="design-contents-form-tbody">
	  	  <!-- デザイン名 -->
	  	  <tr class="design-contents-form-tr">
	  	  	<td class="design-contents-form-td"><%= f.label :title, "デザイン名" %></td>
	  	    <td class="design-contents-form-td"><%= f.text_field :title, :placeholder => "14文字以内" %></td>
 	  	  	<td class="design-contents-form-td"></td>
	  	  </tr>
	  	  <!-- 島名 -->
	  	  <tr class="design-contents-form-tr">
	  	  	<td class="design-contents-form-td"><%= f.label :name, "投稿者名" %></td>
	  	    <td class="design-contents-form-td"><%= f.text_field :name, :placeholder => "10文字以内" %></td>
 	  	  	<td class="design-contents-form-td"></td>
	  	  </tr>
	  	  <!-- ID画像 -->
	      <tr class="design-contents-form-tr">
	      	<td class="design-contents-form-td"><%= f.label :id_image %></span></td>
	        <td class="design-contents-form-td"><%= f.attachment_field :id_image %></td>
 	  	  	<td class="design-contents-form-td"></td>
	      </tr>
	      <!-- サンプル画像 -->
	      <tr class="design-contents-form-tr">
	      	<td class="design-contents-form-td"><%= f.label :sample_image %><span class="design-contents-form-td-span">※任意</td>
	        <td class="design-contents-form-td"><%= f.attachment_field :sample_image %></td>
	      </tr>
	      <!-- ジャンル -->
	      <tr class="design-contents-form-tr">
	        <td class="design-contents-form-td"><%= f.label :genre %></td>
	        <td class="design-contents-form-td"><%# f.time_select :started_at, :minute_step => 5 %></td>
	      </tr>
	      <!-- 投稿ボタン -->
	      <tr class="design-contents-form-tr">
			<td class="design-contents-form-td"><%= f.submit "投稿" %></td>
	      </tr>
	    </tbody>
	  </table>
	  <% end %>
    </div>
  </section>
  <% @designs.each do |design| %>
    <div class="design-contents-box">
      <!-- 投稿表示 -->
 	  <table class="design-contents-box-table">
 	  	<tbody class="design-contents-box-tbody">
 	  	  <!-- デザイン名 -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">デザイン名</td>
 	  	  	<td class="design-contents-box-td"><%= design.title %></td>
 	  	  </tr>
 	  	  <!-- 投稿者名 -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">>投稿者名</td>
 	  	  	<td class="design-contents-box-td"><%= design.name %></td>
 	  	  </tr>
 	  	  <!-- ID画像 -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">id_image</td>
 	  	  	<td class="design-contents-box-td"><%# design.id_image %></td>
 	  	  </tr>
 	  	  <!-- サンプル画像 -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">sample_image</td>
 	  	  	<td class="design-contents-box-td"><%# design.sample_image %></td>
 	  	  </tr>
 	  	  <!-- ジャンル -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">ジャンル</td>
 	  	  	<td class="design-contents-box-td"><%= design.genre %></td>
 	  	  </tr>
 	  	  <!-- テーマ -->
 	  	  <tr class="design-contents-box-tr">
 	  	  	<td class="design-contents-box-td">テーマ</td>
 	  	  	<td class="design-contents-box-td"><%= design.theme %></td>
 	  	  </tr>
 	  	  <!-- 投稿時間 -->
 	  	  <tr>
 	  	  	<td></td>
 	  	  	<td><%= time_ago_in_words(design.created_at) %>前</td>
 	  	  </tr>
 	  	</tbody>
 	  </table>
    </div>
  <% end %>
</div><h1>Designs#index</h1>
<p>Find me in app/views/designs/index.html.erb</p>
