<!-- あつまれどうぶつの森マイデザイン掲示板 -->
<div class="design">
  <!-- 検索フォーム -->
  <section class="design-contents">
    <div class="design-contents-search">
      <%= search_form_for @search, url: search_designs_path, html: { method: :post } do |f| %>
        <table class="design-contents-search-table">
          <tbody class="design-contents-search-tbody">
            <tr class="design-contents-search-tr">
              <!-- 検索条件：が含まれている場合 -->
              <td class="design-contents-search-td"><%= f.label :title_cont, "デザイン名" %></td>
              <td class="design-contents-search-td"><%= f.search_field :title_cont %></td>
              <!-- 検索条件：が含まれている場合 -->
              <td class="design-contents-search-td"><%= f.label :name_cont, "投稿者名" %></td>
              <td class="design-contents-search-td"><%= f.search_field :name_cont %></td>
              <!-- 検索条件：セレクトボックス -->
              <td class="design-contents-search-td"><%= f.label :category_cont, "カテゴリー" %></td>
              <td class="design-contents-search-td"><%= f.select :category_cont, Design.categories.map{|k,v| [Design.categories_i18n[k], v]} %></td>
              <%# f.search_field :category_cont %>
              <td class="design-contents-search-td">並び替え</td>
              <td class="design-contents-search-td"><%= f.select( :sorts, { "いいねの多い順": "likes_count desc", "カテゴリー昇順": "category asc", "カテゴリー降順": "category desc", "作成日が新しい順": "id desc", "作成日が古い順": "id asc" }, { onchange: "this.form.submit()"} ) %></td>
              <td class="design-contents-search-td"><%= f.submit "検索" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </section>
  <!-- エラーメッセージ表示 -->
  <% if @design.errors.any? %>
    <p><%= pluralize(@design.errors.count,"error", "") %>個の入力エラーが発生しました</p>
      <ul>
        <% @design.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <!-- 投稿フォーム -->
  <section class="design-contents">
    <div class="design-contents-form">
  	  <%= form_for(@design) do |f| %>
    	  <table class="design-contents-form-table">
    	  	<tbody class="design-contents-form-tbody">
    	  	  <!-- デザイン名 -->
    	  	  <tr class="design-contents-form-tr">
    	  	  	<td class="design-contents-form-td"><%= f.label :title, "デザイン名" %></td>
    	  	    <td class="design-contents-form-td"><%= f.text_field :title, :placeholder => "14文字以内" %></td>
     	  	  	<td class="design-contents-form-td"></td>
    	  	  </tr>
    	  	  <!-- 島名 -->
    	  	  <tr class="design-contents-form-tr">
    	  	  	<td class="design-contents-form-td"><%= f.label :name, "投稿者名" %></td>
    	  	    <td class="design-contents-form-td"><%= f.text_field :name, :placeholder => "10文字以内" %></td>
     	  	  	<td class="design-contents-form-td"></td>
    	  	  </tr>
    	  	  <!-- ID画像 -->
    	      <tr class="design-contents-form-tr">
    	      	<td class="design-contents-form-td"><%= f.label :id_image %></td>
    	        <td class="design-contents-form-td"><%= f.attachment_field :id_image %></td>
     	  	  	<td class="design-contents-form-td"></td>
    	      </tr>
    	      <!-- サンプル画像 -->
    	      <tr class="design-contents-form-tr">
    	      	<td class="design-contents-form-td"><%= f.label :sample_image %><span class="design-contents-form-td-span">※任意</span></td>
    	        <td class="design-contents-form-td"><%= f.attachment_field :sample_image %></td>
    	      </tr>
    	      <!-- カテゴリー -->
    	      <tr class="design-contents-form-tr">
    	        <td class="design-contents-form-td"><%= f.label :category %></td>
    	        <td class="design-contents-form-td"><%= f.select :category, Design.categories_i18n.keys.map{|k| [I18n.t("enum.design.category.#{k}"), k]} %></td>
    	      </tr>
    	      <!-- 投稿ボタン -->
    	      <tr class="design-contents-form-tr">
    			    <td class="design-contents-form-td"><%= f.submit "投稿" %></td>
    	      </tr>
    	    </tbody>
    	  </table>
  	  <% end %>
    </div>
  </section>
  <!-- 投稿・検索表示 -->
  <section class="design-contents">
    <p class="design-contents-p"><%= @designs.count %>件表示</p>
    <% @designs.each do |design| %>
      <div class="design-contents-box">
        <table class="design-contents-box-table">
          <tbody class="design-contents-box-tbody">
            <!-- デザイン名・投稿時間 -->
            <tr class="design-contents-box-tr">
              <td class="design-contents-box-td">デザイン名</td>
              <td class="design-contents-box-td"><%= design.title %></td>
              <td><%= time_ago_in_words(design.created_at) %>前</td>
            </tr>
            <!-- 投稿者名 -->
            <tr class="design-contents-box-tr">
              <td class="design-contents-box-td">投稿者名</td>
              <td class="design-contents-box-td"><%= design.name %></td>
            </tr>
            <!-- ID画像 tdを横方向に結合 -->
            <tr class="design-contents-box-tr">
              <td class="design-contents-box-td" colspan="2"><%= attachment_image_tag design, :id_image, :fill, 160, 90, format: "jpeg" , fallback: "no_image.jpg", size:"160 x 90" %></td>
            </tr>
            <!-- サンプル画像 tdを横方向に結合 -->
            <% if design.sample_image.present? %>
              <tr class="design-contents-box-tr" colspan="2">
                <td class="design-contents-box-td"><%= attachment_image_tag design, :sample_image, :fill, 160, 90, format: "jpeg" %></td>
              </tr>
            <% end %>
            </tr>
            <!-- カテゴリー -->
            <tr class="design-contents-box-tr">
              <td class="design-contents-box-td">カテゴリー</td>
              <td class="design-contents-box-td"><%= design.category_i18n %></td>
            </tr>
            <!-- いいね -->
            <tr>
              <td>
                <%= link_to design_likes_path(design), method: :post do %>
                <i class="fas fa-heart" style="color: red;"></i> <!-- ※※※cssでcolor:redにする※※※ -->
                <% end %>
                <span class="design-contents-box-td-i-span"><%= design.likes.count %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </section>
</div>
