<!-- あつまれどうぶつの森カブ価掲示板 -->
<div class="turnip">
  <!-- エラーメッセージ表示 -->
  <% if @turnip.errors.any? %>
    <p><%= pluralize(@turnip.errors.count,"error", "") %>個のエラーが発生しました</p>
      <ul>
      	<% @turnip.errors.full_messages.each do |msg| %>
      	  <li><%= msg %></li>
    	<% end %>
      </ul>
  <% end %>
  <section class="turnip-contents">
  	<!-- 投稿フォーム -->
    <div class="turnip-contents-form">
	  <%= form_for(@turnip) do |f| %>
	  <table class="turnip-contents-form-table">
	  	<tbody class="turnip-contents-form-tbody">
	  	  <!-- 島名 -->
	  	  <tr class="turnip-contents-form-tr">
	  	  	<td class="turnip-contents-form-td"><%= f.label :name, "島名" %></td>
	  	    <td class="turnip-contents-form-td"><%= f.text_field :name, :placeholder => "10文字以内" %></td>
 	  	  	<td class="turnip-contents-form-td">島</td>
	  	  </tr>
	  	  <!-- カブ価 -->
	      <tr class="turnip-contents-form-tr">
	      	<td class="turnip-contents-form-td"><%= f.label :price, "カブ価" %></td>
	        <td class="turnip-contents-form-td"><%= f.number_field :price, :placeholder => "半角で入力" %></td>
 	  	  	<td class="turnip-contents-form-td">ベル</td>
	      </tr>
	      <!-- 島パスワード -->
	      <tr class="turnip-contents-form-tr">
	      	<td class="turnip-contents-form-td"><%= f.label :islandpass, "島パスワード" %></td>
	        <td class="turnip-contents-form-td"><%= f.text_field :islandpass, :placeholder => "英数字5文字" %></td>
	      </tr>
	      <!-- 開放目安時間 -->
	      <tr class="turnip-contents-form-tr">
	        <td class="turnip-contents-form-td"><%= f.label :started_at, "開放時間目安" %></td>
	        <!-- 5分刻み -->
	        <td class="turnip-contents-form-td"><%= f.time_select :started_at, :minute_step => 5 %></td>
	        <td class="turnip-contents-form-td">〜</td>
	        <td class="turnip-contents-form-td"><%= f.time_select :finished_at, :minute_step => 5 %></td>
	      </tr>
	      <!-- 求む -->
	      <tr class="turnip-contents-form-tr">
	        <td class="turnip-contents-form-td"><%= f.label :want, "求む" %></td>
	        <!-- セルを結合して、開放時間目安の終了時刻のtdに合わせてある -->
	        <td class="turnip-contents-form-td" colspan="3"><%= f.text_area :want, :placeholder => "例）マイル旅行券x1\n◯◯の前で受け取りを行なっています。先払い&往復ごとにお願いします。\nお帰りの際は-ボタンでお願いします。" %></td>
	      </tr>
	      <!-- 投稿ボタン -->
	      <tr class="turnip-contents-form-tr">
			<td class="turnip-contents-form-td"><%= f.submit "投稿" %></td>
	      </tr>
	    </tbody>
	  </table>
	  <% end %>
    </div>
  </section>
  <% @turnips.each do |turnip| %>
    <div class="turnip-contents-box">
      <!-- 投稿表示 -->
 	  <table class="turnip-contents-box-table">
 	  	<tbody class="turnip-contents-box-tbody">
 	  	  <!-- 島名 -->
 	  	  <tr class="turnip-contents-box-tr">
 	  	  	<td class="turnip-contents-box-td">島名</td>
 	  	  	<td class="turnip-contents-box-td"><%= turnip.name %>島</td>
 	  	  </tr>
 	  	  <!-- カブ価 -->
 	  	  <tr class="turnip-contents-box-tr">
 	  	  	<td class="turnip-contents-box-td">カブ価</td>
 	  	  	<td class="turnip-contents-box-td"><%= turnip.price %>ベル</td>
 	  	  </tr>
 	  	  <!-- 島パスワード -->
 	  	  <tr class="turnip-contents-box-tr">
 	  	  	<td class="turnip-contents-box-td">島パスワード</td>
 	  	  	<td class="turnip-contents-box-td"><%= turnip.islandpass %></td>
 	  	  </tr>
 	  	  <!-- 開放時間目安 -->
 	  	  <tr class="turnip-contents-box-tr">
 	  	  	<td class="turnip-contents-box-td">開放時間目安</td>
 	  	  	<td class="turnip-contents-box-td"><%= turnip.started_at.strftime("%H時%M分") %>〜<%= turnip.finished_at.strftime("%H時%M分") %></td>
 	  	  </tr>
 	  	  <!-- 求む -->
 	  	  <tr class="turnip-contents-box-tr">
 	  	  	<td class="turnip-contents-box-td">求む</td>
 	  	  	<td class="turnip-contents-box-td"><%= turnip.want %></td>
 	  	  </tr>
 	  	  <!-- 投稿時間 -->
 	  	  <tr>
 	  	  	<td></td>
 	  	  	<td><%= time_ago_in_words(turnip.created_at) %>前</td>
 	  	  </tr>
 	  	</tbody>
 	  </table>
    </div>
  <% end %>
</div>