<!-- あつまれどうぶつの森カブ価掲示板 -->
<div class="turnip">
  <section class="turnip-contents">
    <div class="turnip-contents-form">
	  <%= form_for(@turnip) do |f| %>
	  <table>
	  	<tbody>
	  	  <tr>
	  	  	<td><%= f.label :name, "島名" %></td>
	  	    <td><%= f.text_field :name %></td>
	  	  </tr>
	      <tr>
	      	<td><%= f.label :price, "カブ価" %></td>
	        <td><%= f.text_field :price %></td>
	      </tr>
	      <tr>
	      	<td><%= f.label :password, "パスワード" %></td>
	        <td><%= f.text_field :password %></td>
	      </tr>
	      <tr>
	        <td><%= f.label :strated_at, "開放時間目安" %></td>
	        <td></td>
	      </tr>
	      <tr>
	        <td><%= f.label :want, "求む" %></td>
	        <td><%= f.text_area :want %></td>
	      </tr>
	      <tr>
			<td><%= f.submit "投稿" %></td>
	      </tr>
	    </tbody>
	  </table>
	  <% end %>
    </div>
  </section>
  <% @turnips.each do |turnip| %>
    <div class="turnip-contents-box">
 	
    </div>
  <% end %>
</div>